{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau animal - animalde{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cloud-plus"></i></div>
                    <h1 class="fw-bolder">Ajouter un nouvel Animal dans notre refuge</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form id="contactForm" action="animalNew" method="post">

                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" name="name" type="text" placeholder="Nom du animal" data-sb-validations="required" />
                                <label for="name">Animal</label>
                            </div>
                            <!-- NameSlug input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="nameSlug" name="nameSlug" type="text" placeholder="Slug du animal" data-sb-validations="required" />
                                <label for="nameSlug">Animal Slug</label>
                            </div>
                            <!-- Type de l'animal  -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="type" name="type" type="text" placeholder="Type de l'animal" data-sb-validations="required" />
                                <label for="image">Type de l'animal</label>
                            </div>
                            <!-- Race de l'animal  -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="race" name="race" type="text" placeholder="Race de l'animal" data-sb-validations="required" />
                                <label for="image">Race de l'animal</label>
                            </div>
                            <!-- Poids (kg) du animal-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="weight" type="number" name="weight" step="0.01" placeholder="Poids du animal" data-sb-validations="required" />
                                <label for="weight">Poids (kg)</label>
                            </div>
                            <!-- Taille (kg) de l'animal-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="size" type="number" name="size" step="0.01" placeholder="Taille du animal" data-sb-validations="required" />
                                <label for="size">Taille (cm)</label>
                            </div>
                            <!-- Image de l'animal -->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="image" name="image" type="text" placeholder="Image du animal" data-sb-validations="required" />
                                <label for="image">Image de l'animal</label>
                            </div>
                            <!-- Disponibilité -->
                            <div class="form-floating mb-3">
                                <select class="form-control" name="available" required>
                                        <option value="1">OUI</option>
                                        <option value="2">NON</option>
                                </select>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Créer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}